<% content_for :search_history_content do %>
  <%= render :partial => 'partials/search_history' %>
<% end %>

<%= render :partial => 'search/searchform' %>

<a href="/rails_api/fr_class_index.html">Browse rails classes</a>
