<%= image_tag('/images/rails.png', :alt=>'Ruby on Rails') %>
<div id="gbar"><nobr>
   <a class="gb1" href="http://www.rubyonrails.org">Ruby on Rails</a> 
   <%= link_to "About", :controller => 'search', :action => 'about' %>
</nobr></div>
