<div class="search_history">
  <div class="header">Last <%=@search_history.size%> searches</div>
  
  <% for history in @search_history  %>
    <div class="item">
      <a href="<%=history.url%>"><%=history.displayable_string %></a> (<%=distance_of_time_in_words_to_now(history.created_at)%> ago) 
     </div>
  <% end %>
  </ul>
</div>
