/* CSS Document */

#footer {
    padding-top: 40px;
}
  

#anzlogo {
   background: url(images/anz_header.png) no-repeat top left;
   /*height: 200px;*/
   /*padding-top: 100px;*/
   width: 206px;
   height: 237px;

   
}

#productlogo {
   clear: both;
   padding-right: 120px;
   padding-left: 120px;
   background: url(images/productandsecure_banner.png) no-repeat top left;
   padding-top: 300px;
}

.links li {
	margin-left: -35px;
	padding-left: 0px;
	list-style: none;
	margin-top: 5px;
	text-decoration: none;
	
}

.prevbutton {
  width: 80px;
  height: 22px;
  margin: 0;
  padding: 0;
  border: 0;
  /*margin-left: 450px;*/
  background: transparent url(/images/anz/buttonPrev.png) no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}


.nextbutton {
  width: 80px;
  height: 22px;
  margin: 0;
  padding: 0;
  border: 0;
  /*margin-left: 550px;*/
  background: transparent url(/images/anz/buttonNext.png) no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}

.editbutton {
  width: 80px;
  height: 22px;
  margin: 0;
  padding: 0;
  border: 0;
  /*margin-left: 550px;*/
  background: transparent url(/images/anz/buttonEdit.png) no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}


.radiobuttons fieldset {
    border: 0px;
    visibilty:   hidden;
    height: 20px
}

.radiobuttons .button { 
    position: relative;
    top: -25px;
    position: relative;
    left: 300px;
    display:inline-table;
    height: 30px"
}

/* basic style for a number of form items layed out vertically */
.vform li {
	margin-left: -35px;
	padding-left: 0px;
	list-style: none;
	margin-top: 5px;
	text-decoration: none;
}

.fieldWithErrors {
  color: red;
  display: inline;
}


.mandatory  {
    padding-right: 5px;
    content: "xxx"; 
    color: red;
}


.optional {
    padding-right: 14px;
}

.lableleft label{
    width: 120px;
    display: inline-table;
}

.lableleftwide label{
    width: 300px;
    display: inline-table;
}

.reviewlabel {
    width: 150px;
    display: inline-table; 
}


.reviewitems label {
    width: 150px;
    display: inline-table; 
}

.reviewitems span {
    font-weight: bold;
     display: inline-table;
}


legend{
    width: 120px;
    padding-left: 4px;
    display: inline-table;
}


.vform div{
    padding-top: 3px;
    padding-bottom: 3px;
}

.formitems {
    padding-left: 120px;
}