/* CSS Document */



#searchstatus {
   margin-top:0;
   padding:0.1em;
}
#bsf, #searchstatus {
   margin:11px 0;
}

/* FAD8DB */

/* F5B1BA */
#bsf, #searchstatus, .blk {
   background:#FAD8DB none repeat scroll 0 0;
   border-top:1px solid #FF0000;
}

#searchstatus, .clr {
clear:both;
}

#searchstatus .right{
   margin:0.1em 0;
padding:0.2em;
text-align:right;
white-space:nowrap;
}

.resultline {
 margin-top: 10px;
}

#searchcategory p{
 margin:0.1em 0;
 padding:0.2em;
 text-align:left;
 white-space:nowrap;   
}


.resultlink {
 margin-left: 2px;
 margin:0.1em 0;
 padding:0.2em;
}

.abstract {
   margin-left: 2px;
   margin-right: 20px;
   background: rgb(252,242,243) none repeat scroll 0 0;
   border:1px dotted #999999;
   padding:0.3em 1.3em;
}

.search_history {
   background: rgb(252,242,243) none repeat scroll 0 0;
   border: 1px solid red;
   float: top;
   float: right;
   margin-top: -80px;
   margin-right: 30px;
   width:350px;
   display:block;
   margin-bottom: 3px;
}

.content_page  {
    margin-left: 50px;
    margin-right: 400px;
}

.search_history .item {
   margin-top: 3px;
   margin-left: 5px;
   margin-bottom: 1px;
}

.search_history .header {
   margin-top: 3px;
   margin-left: 5px;
   margin-bottom: 3px;
}

.selected_facet {
 border: 1px solid red;
 background: rgb(252,242,243) none repeat scroll 0 0;
 margin-right: 5px;
 padding: 2px;
}

.methods_header {
 margin-top: 15px;
 width: 200px;
}

.methods_header span{
 width: 200px;
 background:#FAD8DB  none repeat scroll 0 0;
 font-size:120%;
 font-weight:bold;
 padding: 5px;
 border: solid green 2px;
}


/* copied from Google */
element.style {
right:0;
}
.gbh {
height:0;
position:absolute;
top:24px;
width:100%;
}
.gbh, .gbd {
border-top:1px solid #C9D7F1;
font-size:1px;
}

.gb1, .gb3 {
height:22px;
margin-right:0.5em;
vertical-align:top;
}

 
#gbar, #guser {
font-size:13px;
}

