/* CSS Document */

/* these three control the basic layout of the page */

.unused #header {
  /*border-top: 1px solid #778899;
  border-bottom: 1px dotted #B2BCC6; */
  height:3em;
}

.unused #nav {
  position: absolute;
  top: 5em;
  right: 1em;
  width: 27em;
}

.unused #content {
  margin-left: 2em;
  margin-right: 29em;
}


#searchform {
 margin:5px;
}

#searchform h1{
 
 font-size: 16px;
}


#searchstatus {
   margin-top:0;
   padding:0.1em;
}
#bsf, #searchstatus {
   margin:11px 0;
}

#bsf, #searchstatus, .blk {
   background:#FAD8DB none repeat scroll 0 0;
   border-top:1px solid #FF0000;
}

#searchstatus div{
  heigth: 15px;
}
#searchstatus, .clr {
clear:both;
}

#searchstatus .right{
   margin:0.1em 0;
  padding:0.2em;
  text-align:right;
  white-space:nowrap;
}

.resultline {
 margin-top: 10px;
}

.moreresults {
  margin-top: 5px;
  margin-left: 3px;
  background: rgb(252,242,243) none repeat scroll 0 0;
  width: 300px;
}

#searchcategory p{
 margin:0.1em 0;
 padding:0.2em;
 text-align:left;
 white-space:nowrap;   
}


.resultlink {
 margin-left: 2px;
 margin:0.1em 0;
 padding:0.2em;
}

.abstract {
   margin-left: 2px;
   margin-right: 20px;
   background: rgb(252,242,243) none repeat scroll 0 0;
   border:1px dotted #999999;
   padding:0.3em 1.3em;
}

.search_history {
   background: rgb(252,242,243) none repeat scroll 0 0;
   border: 1px solid red;
   float: top;
   float: right;
   margin-top: -70px;
   margin-right: 10px;
   width:350px;
   display:block;
   margin-bottom: 3px; 
}

.search_history .more {
  float:right;
  margin-right:1em;
}

.content_page  {
    margin-left: 50px;
    margin-right: 400px;
}

.search_history .item {
   margin-top: 3px;
   margin-left: 5px;
   margin-bottom: 1px;
}

.search_history .header {
   margin-top: 3px;
   margin-left: 5px;
   margin-bottom: 3px;
}

.selected_facet {
 border: 1px solid red;
 background: rgb(252,242,243) none repeat scroll 0 0;
 margin-right: 5px;
 padding: 2px;
}

.methods_header {
 margin-top: 15px;
 width: 200px;
}

.methods_header span{
 width: 200px;
 background:#FAD8DB  none repeat scroll 0 0;
 font-size:120%;
 font-weight:bold;
 padding: 5px;
 border-top: solid red 1px;
}


/* copied from Google */
element.style {
right:0;
}
.gbh {
height:0;
position:absolute;
top:24px;
width:100%;
}
.gbh, .gbd {
border-top:1px solid #C9D7F1;
font-size:1px;
}

.gb1, .gb3 {
height:22px;
margin-right:0.5em;
vertical-align:top;
}

 
#gbar, #guser {
font-size:13px;
}

